.login_container{
    -fx-background-color: #EEEEEE;
}

.login_logo{
    -fx-background-color: #ffafcc;
    -fx-alignment: center;
}

.login_logo Text{
    -fx-font-size: 2em;
    -fx-fill: #FFFFFF;
}

.login_logo FontAwesomeIconView{
    -fx-fill: white;
}

.account_selector .label{
    -fx-text-fill: black;
    -fx-font-size: 1.1em;
}

.account_selector .arrow{
    -fx-background-color: black;
}

.login_form_container{
    -fx-spacing: 15;
    -fx-alignment: top_left;
}

.login_form_container Label{
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.input_field{
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
}

.login_form_container Button{
    -fx-background-color: #ffafcc;
    -fx-text-fill: white;
    -fx-pref-width: 350;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.login_form_container Button:hover{
    -fx-cursor: hand;
}

.error_label{
    -fx-text-fill: red;
}
/*
    New design
*/

.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 6px;
}

.textfield-1{
    -fx-border-color: #000;
    -fx-border-width: .3px;
    -fx-font-family: Tahoma;
}
.textfield-1:focused{
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-border-width: 1px;
}

.textfield-2{
    -fx-border-color: #000;
    -fx-border-width: .3px;
    -fx-font-family: Tahoma;
}
.textfield-2:focused{
    -fx-border-color: linear-gradient(to bottom right, #a413a1, #64308e);
    -fx-border-width: 1px;
}

.textfield-3{
    -fx-border-color: #000;
    -fx-border-width: .3px;
    -fx-font-family: Tahoma;
}
.textfield-3:focused{
    -fx-border-color: linear-gradient(to bottom right, #a31336, #861d2a);
    -fx-border-width: 1px;
}

.btn-1{
    -fx-background-color: linear-gradient(to bottom right, #ffafcc, #ffafcc);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}
.btn-1:hover{
    -fx-background-color: linear-gradient(to bottom right, #11a7c9, #2765a4);
}

.btn-2{
    -fx-background-color: linear-gradient(to bottom right, #a413a1, #64308e);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}
.btn-2:hover{
    -fx-background-color: linear-gradient(to bottom right, #c512c5, #67289d);
}

.btn-3{
    -fx-background-color: linear-gradient(to bottom right, #a31336, #861d2a);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}
.btn-3:hover{
    -fx-background-color: linear-gradient(to bottom right, #bf0d3c, #9d1022);
}
.icon-size {
    -fx-font-size: 80px; /* Set the desired font size */
}













